a,
a img,
a:before,
a:after {
    text-decoration: none;
    transition-duration: .25s
}
button:focus {
    outline: 0
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}
* {
    -webkit-tap-highlight-color: transparent
}

a {
   font-size: inherit;
   color: #1da1f2;
   display: inline;
   text-decoration: none;
}
a.hover {
    text-decoration: none;
}
.color {
    background: #FF7473;
    width: 6em;
    height: 6em;
    border-radius: 25px;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin-top: 1em;
}
.color-hex {
    font-size: 0.5em;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
}

#main .content {
    text-align: center;
    font-family: 'Product Sans';
}

.title {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 5.4px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
}

.description {
    font-size: 3rem;
    text-transform: none;
    color: #000000;
    letter-spacing: 3px;
}

#logo {
    margin-top: 2rem;
}


.color-box {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    color: white;
    background-color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Product Sans';
    font-size: 3rem;
    text-align: center;
    vertical-align: middle;  
    margin-top: 3rem;
    text-shadow: 1px 1px 5px gray;
}

.color-box:hover {
    cursor: pointer;
    box-shadow: 1px 0px 10px gray;
}


