a,
a img,
a:before,
a:after {
    text-decoration: none;
    transition-duration: .25s
}
button:focus {
    outline: 0
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}
* {
    -webkit-tap-highlight-color: transparent
}
video::-webkit-media-controls-start-playback-button {
    display: none !important
}

a {
   font-size: 24px;
   color: #1da1f2;
   display: inline
}
.color {
    background: #FF7473;
    width: 4em;
    height: 4em;
    border-radius: 25px;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 3px;
    margin-top: 1em;
}
.color-hex {
    font-size: 0.5em;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
}

#main .content {
    text-align: center;
    font-family: 'Product Sans';
}

.title {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 5.4px;
    text-align: center;
    text-transform: lowercase;
    color: #000000;
}

.description {
    font-size: 3rem;
    text-transform: none;
    color: #000000;
    letter-spacing: 3px;
}

#logo {
    margin-top: 4rem;
}